{% extends 'base.html' %}
{% block title %} Password Reset Complete {% endblock %}
{% load static %}
{% block content %}

<style>

	#password_reset_complete p {
		font-size: 1.3rem;
	}

	#password_reset_complete p a {
		border-bottom: 1px solid #000
	}

</style>

<section class="about section" id="password_reset_complete">

	{% include 'navbar.html' %}

	<div class="container">
		<div class="row">
			<div class="section-title padd-15">
				<h2>Password Reset Successfully</h2>
			</div>
		</div>
		<div class="row">
			<div class="about-content padd-15">
				<p class="m-auto">Your password has been reset. You may go ahead and
					<a href="{% url 'login' %}">login now.</a>
				</p>
			</div>
		</div>
	</div>
</section>

{% endblock %}