{% extends 'base.html' %}
{% block title %} Change Password {% endblock %}
{% load static %}

{% block content %}

<style type="text/css">

    #password_change-form {
        width: 500px;
        background-color: #fff;
        padding: 20px 50px 40px;
        box-shadow: 1px 4px 10px 1px #aaa;
        font-family: sans-serif;
    }

    input {
        padding: .4rem;
        width: 100%;
        border: 0.125rem solid lightgray;
        border-radius: 5px;
        transition: all 0.5s linear;
        margin-bottom: 1.5rem;
        margin-top: .2rem;
    }

    #password_change-form .btn {
        width: 100%;
        margin-top: .4rem;
        padding: .7rem;
        cursor: pointer;
        position: relative;
        font-size: 1em;
        z-index: 2;
        outline: none;
        transition: .2s;
        border-radius: 5px;
        border: none;
        font-size: 1.2em;
        transition: 0.5s;
        background: red;
        color: #fff;
    }

    @media(max-width: 580px) {
        #password_change-form {
            width: 100%;
            padding: 20px 20px;
        }
    }
    
</style>

<!-- ------ -->

<section class="about section" id="password_change">

    {% include 'navbar.html' %}

    <div class="container">
        <div class="row">
            <div class="section-title padd-15">
                <h2>Change Password</h2>
            </div>
        </div>
        <div class="row">
            <div class="about-content padd-15">

                <div id="password_change-form">
                    <div>
                        <form method="POST">
                            {% csrf_token %}

                            <input name="old_password" class="form-control" placeholder="Old password" type="password"
                                id="id_old_password" required>

                            <input name="new_password1" class="form-control" placeholder="New password" type="password" id="id_new_password1" required>

                            <input name="new_password2" class="form-control" placeholder="Confirm password" type="password" id="id_new_password2" required>

                            {% for field in form %}
                            {% for error in field.errors %}
                            <p style="color: red">{{ error }}</p>
                            {% endfor %}
                            {% endfor %}

                            <button class="btn btn-lg btn-primary btn-block" type="submit">Change Password</button>

                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<!-- ------ -->

{% endblock %}