{% extends 'base.html' %}
{% block title %} Change Password {% endblock %}
{% load static %}

{% block content %}

<style type="text/css">

    #password_reset_done h2 {
        font-size: 2rem;
    }

    #password_reset_done a {
        border: 1px solid #000;
        padding: 10px;
        border-radius: 5px;
    }
    
</style>

<section class="about section" id="password_reset_done">

    {% include 'navbar.html' %}

    <div class="container">
        <div class="row">
            <div class="section-title padd-15">
                <h2>
                    <p class="m-auto p-2">
                        We've emailed you instructions to reset your password, if an account exists with the email you entered, You should receive the email shortly.
                    </p>
                    <br>
                    <p class="m-auto p-2">
                        If you don't receive an email, please make sure you've entered the correct email you registered with,
                        and check your spam folder.
                    </p>
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="about-content padd-15">
                <h3>
                    <a href="{% url 'index' %}">Return to Home Page</a>
                </h3>
            </div>
        </div>
    </div>
</section>

{% endblock %}