{% extends 'base.html' %}
{% block title %} Change Password {% endblock %}
{% load static %}

{% block content %}

<style type="text/css">
    #password_change_done h2 {
        font-size: 2rem;
    }
</style>

<!-- ------ -->

<section class="about section" id="password_change_done">

    {% include 'navbar.html' %}

    <div class="container">
        <div class="row">
            <div class="section-title padd-15">
                <h2>Your password has been changed successfully. You may go ahead and sign in again to check.</h2>
            </div>
        </div>
        <div class="row"></div>
    </div>
</section>

<!-- ------ -->

{% endblock %}