{% extends 'base.html' %}
{% block title %} Reset Password {% endblock %}
{% load static %}

{% block content %}

<style type="text/css">
    #password_reset-form {
        width: 500px;
        background-color: #fff;
        padding: 30px 50px;
        box-shadow: 1px 4px 10px 1px #aaa;
        font-family: sans-serif;
    }

    input {
        padding: 0.438rem 0.625rem;
        width: 100%;
        border: 0.125rem solid lightgray;
        border-radius: 5px;
        transition: all 0.5s linear;
        margin-bottom: 1rem;
        margin-top: .2rem;
    }

    #password_reset-form .btn {
        width: 100%;
        padding: 0.6rem;
        cursor: pointer;
        position: relative;
        font-size: 1em;
        z-index: 2;
        outline: none;
        transition: .2s;
        border-radius: 5px;
        border: none;
        font-size: 1.2em;
        transition: 0.5s;
        margin-top: .4rem;
        background: red;
        color: #fff;
    }

    @media(max-width: 580px) {
        #password_reset-form {
            width: 100%;
            padding: 20px 20px;
        }
    }
</style>

<!-- ------ -->

<section class="about section" id="password_reset">

    {% include 'navbar.html' %}

    <div class="container">
        <div class="row">
            <div class="section-title padd-15">
                <h2>Change Password</h2>
            </div>
        </div>
        <div class="row">
            <div class="about-content padd-15">

                <div id="password_reset-form">
                    <div>
                        <form method="POST" class="form-signin">
                            {% csrf_token %}

                            <input name="email" class="form-control" placeholder="Email address" type="email" id="id_email" required="true">

                            <button class="btn" type="submit">Send Reset Email</button>

                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

{% endblock %}