{% extends 'base.html' %}
{% block title %} Home {% endblock %}
{% load static %}

{% block content %}

	<!-- Home Section -->
	<section class="home section" id="home">

		{% include 'navbar.html' %}

		<div class="container">

			<marquee behavior="scroll">
			<p style="text-align: center; color: red; padding: 20px 0; font-size: 20px;"><b>Let's eradicate Thalassemia -</b> Thalassemia minor person should not marry another Thalassemia minor person</p>
		</marquee>


			<!-- Effects -->

			<div class="effect-wrap">
				<div class="effect effect-1"></div>
				<div class="effect effect-2">
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
				</div>
				<div class="effect effect-4"></div>
				<div class="effect effect-5">
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
				</div>
			</div>

			<!-- Effects End -->

			<div class="intro">
				<img src="{% static 'images/image1.png' %}" alt="Blood Donation" width="100" height="100" class="shadow-dark img1" />
				<header class="center">
					<div class="heading">
						<h1>
							<span class="center">L</span>
							<span class="center">E</span>
							<span class="center">T</span>
							<span class="center">S</span>

							<span class="center">D</span>
							<span class="center">O</span>
							<span class="center">N</span>
							<span class="center">A</span>
							<span class="center">T</span>
							<span class="center">E</span>

							<span class="center">B</span>
							<span class="center">L</span>
							<span class="center">O</span>
							<span class="center">O</span>
							<span class="center">D</span>
						</h1>
					</div>
				</header>
				<div class="social-links">
					<a href="https://www.facebook.com/harmanbatheja15/" target="_blank" title="Facebook" rel="noopener noreferrer">
						<i class="fa fa-facebook"></i>
						<p style="display:none">Facebook</p>
					</a>
					<a href="https://www.instagram.com/harmanbatheja15/" target="_blank" title="Instagram" rel="noopener noreferrer">
						<i class="fa fa-instagram"></i>
						<p style="display:none">Instagram</p>
					</a>
					<a href="https://twitter.com/harmanbatheja15/" target="_blank" title="Twitter" rel="noopener noreferrer">
						<i class="fa fa-twitter"></i>
						<p style="display:none">Twitter</p>
					</a>
					<a href="https://linkedin.com/in/harmanbatheja15/" target="_blank" title="LinkedIn" rel="noopener noreferrer">
						<i class="fa fa-linkedin"></i>
						<p style="display:none">LinkedIn</p>
					</a>
				</div>
				<small style="color:#4d4d4d;">Visit our pages</small>
			</div>
		</div>
	</section>
	<!-- Home Section End -->

{% endblock %}